html,body{
    margin: 0;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    background-color: #E5F0FF;
}
ul{
    padding: 0;
    list-style-type: none;
    text-align: center;
    font-size: 1.5rem;
    color: #002D6D;k
}
li{
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: #002D6D dashed 2px;
    text-transform: capitalize;
}
header{
    padding: 10px 0 30px 0;
    text-align: center;
    font-weight: 700;
    color: #5199FF;
    font-size: 2rem;
    -webkit-text-stroke: 1px black;
}
main{
    height: 100%;
}
input{
    width: 300px;
    text-align: center;
    margin: 0 10px 0 0;
}

#shoppingquote{
    font-size: 1rem;
    color: #F1F2F2;
}
.buttonbox{
    padding: 0 0 20px 0;
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.uppercase{
    text-transform: uppercase;
}
.done{
    text-decoration: line-through;
}

.exp{
    margin: 0 0 0 50px;
}